body { padding: 32px;
        text-align: center;
        background-color: aqua;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, div {text-align: justify;}

button {border: none;
        padding: 8px;
        border-radius: 8px;
        background-color: antiquewhite;
}

.bg-1 {

    background-color: rgb(252, 249, 104);
}

.bg-2 {
    background-color: rgb(232, 43, 43);
}

.bg-3 {
    background-color: lightgreen;
}



.section-content {
    margin: 32px;
}
.form-item {
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid aliceblue;
    border-radius: 4px;
    background-color: antiquewhite;
    font-size: 16px;
    resize: none;
}

.formula {
    font-style: italic;
}